.card {
  margin: 5px;
  display: flex;
  justify-content: space-between;
  border: 1px solid grey;
  padding: 5px;
  color: grey;
  cursor: pointer;
}

.cardId {
  font-size: 10px;
}
.cardText {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 14px;
}

.deleteBtn {
  background-color: inherit;
  border: none;
}

.deleteBtn img{
  cursor: pointer;
	width: 20px;
  background-color:none;
}